/*Used to make the side-nav headers appear change to a pointer cursor when hovered over.*/

.accordion-heading{
    cursor: pointer;
}

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }